<div class="gplay-box">
	<span><i class="fas fa-times-circle"></i></span>
	<div>
		<img src="{{asset(settings.media.link)}}">
		<h3>{{settings.appname}}</h3>
		<p>{{settings.appdescription}}</p>
	</div>
	<a href="{{settings.googleplay}}" target="_blank" class="btn"><i class="fas fa-download"></i> Download</a>
</div>