{% extends "WebBundle::layout.html.twig" %}
{% set subtitle =  "Actors" %}
{% set og_description =  "Actors" %}
{% set og_type =  "null" %}
{% set og_image =  "null" %}
{% set keywords =  "null" %}
{% block title %}Actors{% endblock %}
{% block body %}
	<div class="row content-section">
		<div></div>
		{% for actor in actors %}
				<a href="{{path("wep_actor_view",{"id":actor.id,"slug":actor.slug})}}" class="col-4 col-sm-2 col-md-2 col-xxl-2 actor  actor-large" >
						<img src="{{asset(actor.media.link)|imagine_filter('actor_thumb_web')}}"/>
						<span>{{actor.name}}</span>
				</a>
		{% endfor %}
	</div>
	<div class="row content-section">
		<div class="filter-section">
			<div class=" float-right">
				{{ knp_pagination_render(actors) }}
			</div>
		</div>
	</div>
{% endblock %}